.sprint-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.image {
  font-size: 26pt;
  width: 128px;
  height: 128px;
  display: flex;
  align-items: center;
  text-align: center;
  border: 2px solid darkcyan;
  line-height: normal;
}

.edit-button {
  margin-left: 10px;
}

.link-container {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

.header {
  font-size: 24pt;
  font-weight: bold;
  margin-left: 8px;
  line-height: 1.5em;
}