.container {
  margin-top: 64px;
}
.image {
  font-size: 26pt;
  width: 128px;
  height: 128px;
  display: flex;
  align-items: center;
  text-align: center;
  border: 2px solid darkcyan;
  line-height: normal;
}

.sprint-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigation {
  display: flex;
  margin-top: 0;
  li:not(first-child) {
    margin-left: 4px;
  }
  li {
    list-style: none;
    border: 1px solid darkcyan;
    padding: 6px 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
    a {
      color: black;
    }
  }
}